body{
    background-color: rgb(10, 10, 67);
}

.container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1000px;
}

.box{
    margin: 8rem;
    background-color: orange;
    width: 200px;
    height: 200px;
}